<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Villa Kebo: Owner</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/magnific-popup.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/themify-icons.css">
    <link rel="stylesheet" href="../css/nice-select.css">
    <link rel="stylesheet" href="../css/flaticon.css">
    <link rel="stylesheet" href="../css/gijgo.css">
    <link rel="stylesheet" href="../css/animate.css">
    <link rel="stylesheet" href="../css/slicknav.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#">Vista del dueño</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="#">
                                    <img src="../img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a>Nombre de usuario</a></li>
                                        <li><a href="#reservacionesTitle">Tus reservaciones</a></li>
                                        <li>
                                            <div class="notification-container">
                                                <div class="bell-icon" onclick="toggleNotifications()">
                                                    🔔
                                                    <span class="notification-count">0</span>
                                                </div>
                                                <div class="notification-menu" style="display: none;">
                                                    <ul id="notification-list">
                                                        <!-- Los ítems de notificación se insertarán dinámicamente aquí -->
                                                    </ul>
                                                </div>
                                            </div>                                                                                       
                                        <li><a href="login.html">Cerrar sesión</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Section with the user's info, photo -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-80">
                    <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" id="card-owner-section">
                <div class="card-owner">
                    <img class="card-img-top" src="../img/keroppi.jpg" alt="Profile picture">
                    <div class="card-body">
                        <h4 class="card-title"><b>Sontia</b></h4>
                        <h5 class="card-text-status"><i>
                            Este es el estado del usuario.
                        </i></h5>
                        <br>
                        <div class="card-body-bottom">
                            <btn class="btn boxed-btn5" id="editProfileBtn" data-toggle="modal" data-target="#editProfileModal">
                                <i class="fa fa-pencil-alt" aria-hidden="true"></i>
                                <a>Editar perfil</a></btn>
                            <br>
                        </div>

                    </div> 
                  </div>
            </div>

    <!-- Modal Editar Perfil -->
    <div class="modal" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="editProfileModalLabel">Editar perfil</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- Left section for form inputs -->
                        <div class="col-md-8">
                            <form>
                                <div class="form-group">
                                    <h5 for="editedUsername">Nombre de usuario</h5>
                                    <input type="text" class="form-control" id="editedUsername" placeholder="<username>">
                                </div>
                                <div class="form-group">
                                    <h5 for="user-status">Estado</h5>
                                    <textarea class="form-control" id="editedStatus" rows="2" maxlength="250" placeholder="<current status>" style="resize: none;"></textarea>
                                </div>
                                <div class="form-group">
                                    <h5 for="user-status">E-mail</h5>
                                    <input type="text" class="form-control" id="editedEmail" placeholder="<email>">
                                </div>
                            </form>
                        </div>
                        <!-- Right section for profile picture -->
                        <div class="col-md-4 text-center">
                            <img src="../img/keroppi.jpg" alt="Profile Picture" class="img-fluid change-picture" id="profilePictureOwner">
                            <input type="file" id="imageInputOwner" accept="image/*" style="display: none;">
                            <btn class="btn boxed-btn5 mt-4" id="editPictureBtn">
                                <i class="fa fa-picture-o" aria-hidden="true"></i>
                                <a>Cambiar foto</a></btn>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn boxed-btn-round-cancel" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn boxed-btn-round-accept">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

            
            <div class="col-lg-9">
                
                <div class="card-pets">
                    <div class="card-body">
                        <h3 class="card-title">
                            <btn class="btn boxed-btn-round-green mr-2" id="addPetBtn">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </btn>
                            Mascotas 
                        </h3>
                        
                        
                        
                        <div class="row" id="card-pet-section">
                            
                            <div class="col-md-4">
                                <div class="card-pet">
                                    <img class="card-img-top" src="../img/pug.png" alt="Profile picture">
                                    <div class="card-body">
                                        <h4 class="card-title"><b>Kebo</b></h4>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Pug - 8 años</li>
                                            <li class="list-group-item">
                                                <btn class="btn boxed-btn6"><i class="fa fa-upload" aria-hidden="true"></i>
                                                    <a>Expediente</a></btn>
                                            </li>
                                            <li class="list-group-item">
                                                <btn class="btn boxed-btn-round-green mr-3" data-target="#editPetModal" data-toggle="modal"
                                                ><i class="fa fa-edit" aria-hidden="true"></i>
                                                    <a></a></btn>
                                                <btn class="btn boxed-btn-round-red ml-3" data-target="#deletePetModal" data-toggle="modal"
                                                ><i class="fa fa-eraser" aria-hidden="true"></i>
                                                    <a></a></btn>
                                            </li>
                                          </ul>
                                    </div>
                                </div>
                            </div>


                                <!-- Modal Editar Mascota -->
                                <div class="modal" id="editPetModal" tabindex="-1" role="dialog" aria-labelledby="editPetModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="editPetModalLabel">Editar datos de la mascota</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <!-- Left section for form inputs -->
                                                    <div class="col-md-8">
                                                        <form>
                                                            <div class="form-group">
                                                                <h5 for="editedPetName">Nombre</h5>
                                                                <input type="text" class="form-control" id="editedPetName" placeholder="<pet name>">
                                                            </div>
                                                            <div class="form-group">
                                                                <h5 for="editedAge">Edad</h5>
                                                                <input type="number" min="0" max="25" class="form-control" id="editedAge" placeholder="<age>">
                                                            </div>
                                                            <div class="form-group">
                                                                <h5 for="editedBreed">Raza</h5>
                                                                <input type="text" class="form-control" id="editedBreed" placeholder="<breed>">
                                                            </div>
                                                            
                                                        </form>
                                                    </div>
                                                    <!-- Right section for profile picture -->
                                                    <div class="col-md-4 text-center">
                                                        <img src="../img/pug.png" alt="Pet Picture" class="img-fluid change-picture" >
                                                        <btn class="btn boxed-btn5 mt-4" id="editPetPictureBtn">
                                                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                                                            <a>Cambiar foto</a></btn>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn boxed-btn-round-cancel" data-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn boxed-btn-round-accept">Guardar cambios</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal ELIMINAR Mascota -->
                                <div class="modal" id="deletePetModal" tabindex="-1" role="dialog" aria-labelledby="deletePetModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="deletePetModalLabel">¿Eliminar mascota?</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <!-- Right section for profile picture -->
                                                    <div class="col-md-12 text-center">
                                                        <img src="../img/pug.png" alt="Pet Picture" class="img-fluid change-picture" >
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                
                                                <button type="button" class="btn boxed-btn-round-green" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn boxed-btn-round-cancel" >Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                        </div>  


                    </div>
                </div>
            
            </div>
        
            
            
            <div class="col-lg-12">
                
                <div class="card-reservations">
                    <div class="card-body">
                        <h3 class="card-title" id="reservacionesTitle">
                            <btn class="btn boxed-btn-round-green mr-2" id="addReservationBtn">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </btn>
                            Reservaciones 
                        </h3>
                        
                        <div class="row" id="card-reservation-section">
                            
                            <div class="col-md-4">
                                <div class="card-reservation">
                                    <div class="card-body">
                                        <h3 class="card-title"><b>Kebo</b></h3>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><h5>23/04/24 - 05/05/24</h5></li>
                                            <li class="list-group-item">
                                                <h4>Actividades:</h4>
                                                <h5 class="list-group-item-activity">
                                                    1. Paseo diario
                                                </h5>
                                                <h5 class="list-group-item-activity">
                                                    2. Un solo baño
                                                </h5>
                                                <h5 class="list-group-item-activity">
                                                    3. Dar medicina a las 10 p.m. y 11 p.m.
                                                </h5>

                                            </li>
                                            <li class="list-group-item">
                                                <btn class="btn boxed-btn-round-red" data-toggle="modal" data-target="#deleteReservation"
                                                ><i class="fa fa-eraser" aria-hidden="true"></i>
                                                    <a></a></btn>
                                            </li>
                                          </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal ELIMINAR Reservación -->
                                <div class="modal" id="deleteReservation" tabindex="-1" role="dialog" aria-labelledby="deleteReservationLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="deleteReservationLabel">¿Eliminar reservación?</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <!-- Right section for profile picture -->
                                                    <div class="col-md-12 text-center">
                                                        <h5>Se eliminará la reservación de [nombre mascota] para los días [fecha de inicio - fecha de fin]. </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn boxed-btn-round-green" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn boxed-btn-round-cancel">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            

                        </div>  


                    </div>
                </div>
            
            </div>


        </div>
    </div>



    <!-- footer_start  -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row justify-content-center">

                        <div class="footer_widget">
                            <!-- logo -->
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="../img/logo.png" alt="">
                                </a>
                                <a>Proyecto TDES - ITESO P2024</a>
                            </div>

                        </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end  -->


    <!-- JS here -->
    <script src="../js/home-owner-client.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
    function toggleNotifications() {
        const menu = document.querySelector('.notification-menu');
        menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        document.querySelector('.notification-count').textContent = '0';
    }

    function updateNotificationCount(count) {
        const notificationElement = document.querySelector('.notification-count');
        notificationElement.textContent = count;
    }

    function addNotificationToMenu(notification) {
    const list = document.getElementById('notification-list');
    const item = document.createElement('li');

    const icon = document.createElement('span');
    icon.className = 'notification-icon';

    const text = document.createElement('span');
    text.className = 'notification-text';
    text.textContent = notification;

    item.appendChild(text);
    list.appendChild(item);
    }


    // Example of receiving notifications
    function simulateNotificationReceived() {
        const newCount = 10; // Random count for example
        updateNotificationCount(newCount);
        
        // Clear existing notifications
        document.getElementById('notification-list').innerHTML = '';
        
        // Add new notifications
        for (let i = 0; i < newCount; i++) {
            addNotificationToMenu(`[cuidador] completó [actividad] para [pet] ${i + 1}`);
        }
    }

    // Update count and notifications periodically
    setInterval(simulateNotificationReceived, 5000); // Update count every 5 seconds

    </script>     

</body>

</html>